<!DOCTYPE html>
<html>
    <head>
        <title>BlogSpot</title>
        <link rel="icon" href="https://www.podgroup.com/wp-content/uploads/2018/04/quotation-marks-300x300.png" type="image/gif" sizes="16x16">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class = "ui fixed inverted menu">
            <div class = "ui container">
                <div class = "header item"> <i class="quote left icon"></i> BlogSpot </div>
                <a href="/" class = "item">Home</a>
                <a href="/blogs/new" class = "item">New Blog</a>
            </div>
        </div>
        <div class="spacing-class">